.navbar {
    background-color: grey;
    /* padding-right: 15px;
    padding-top: 15px;
    padding-left: 15px; */
    padding: 15px;
    display: flex;
    justify-content: flex-end; /* Moves content to the right */
    align-items: center;
}

.navdiv {
    display: flex;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
