
body, h2, label, select, input, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    /* background-color: #f3f4f6; */
    margin: 0;
    padding: 20px;
    background-color: #f7f7f7;
    /* background:url(blur.avif) no-repeat; */
}

.heading-container {
    background-color: #232d4139;
    color: white; 
    padding: 9px; 
    border-radius: 1px; 
    text-align:left; 
    margin-bottom: 20px;
    margin-top: 10px;
}
div {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin: 0 auto;
    max-width: 600px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus,
select:focus {
    border-color: #f3f5ec;
    outline: none;
}

button {
    background-color:#151f3239;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 20px;
    transition: background-color 0.3s;
    margin-top:20px;
    margin-bottom:15px;
  
}

button:hover {
    background-color:  #092e5a;
}

@media (max-width: 600px) {
    h2 {
        font-size: 24px;
    }

    button {
        width: 100%;
        margin: 5px 0;
    }
}
