
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
    padding-bottom:30px;
}

.heading-container {
    background-color: #232d4139;
    color: white; 
    border-radius: 1px; 
    text-align: left; 
    margin-top: 2px;
    width: 100%;
    padding: 15px 20px;
    margin: 10px 0 0; 
}
.h2{
    width: 100%;
}
.document-section {
    margin-bottom: 20px;
    margin-left:10px;
}

.photograph, .signature, .id, .category {
    margin-bottom: 15px;
}

input[type="file"] {
    padding: 10px;
    font-size: 1rem;
}

label {
    font-size: 1rem;
    font-weight: bold;
}

p {
    font-size: 0.9rem;
    color: #555;
}

select {
    padding: 10px;
    font-size: 1rem;
    margin-top: 10px;
}

.button-section {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
    margin-top:20px;
    justify-content: center;
}

.btn {
    background-color:#151f3239;
    color: white;
    border: none;
    padding: 9px 18px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color:#092e5a;
}
.other-inputs {
    padding: 20px;
    margin-top: 10px;
}


select {
    padding: 5px; 
    font-size: 0.9rem; 
    width: 200px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

@media (max-width: 768px) {
    h2 {
        font-size: 1.75rem;
    }

    .container {
        padding: 15px;
    }

    .button-section {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.5rem;
    }

    input[type="file"], select {
        padding: 8px;
        font-size: 0.9rem;
    }

    .btn {
        font-size: 0.9rem;
        padding: 10px 15px;
    }
}
