
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;  
    padding: 0;  
    width: 100%;  
    height: 100vh; 
}
.inputs{
    padding:20px;
}
.heading-container {
    background-color: #232d4139;
    color: white; 
    border-radius: 1px; 
    text-align: left; 
    /* margin-top: 10px; */
    width: 100%;
    padding: 5px 20px;
    /* padding:1px 12px; */
    margin: 10px 0 ; 
}
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: white;
    padding-bottom:30px;
    /* padding: 20px 20px; */
}

h3 {
    font-size: 1.2rem;
    color: #331b7b;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #151f3239;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 15%; 
    text-align: center;
}

input::placeholder {
    font-size: 1rem; 
    color: #888; 
}

label {
    font-size: 1rem;
    color: #333;
}

input[type="email"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

input[type="email"]:focus {
    border-color: #092e5a;
    outline: none;
}

button:hover {
    background-color: #092e5a;
    transform: translateY(-2px);
}

p {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}

p a {
    color: #2eae45;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
    color: #0056b3;
}

@media (max-width: 768px) {
    .heading-container {
        font-size: 1rem;
        padding: 10px;
    }

    div {
        padding: 15px;
    }

    form label, form input, form button {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .heading-container {
        font-size: 0.9rem;
    }

    div {
        padding: 10px;
    }

    form label, form input, form button {
        font-size: 0.85rem;
    }
}
