* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f7f7f7;
}
.inputs{
    padding:30px;
}
.heading-container {
    background-color: #232d4139;
    color: white; 
    border-radius: 1px; 
    text-align: left; 
    /* margin-top: 10px; */
    width: 100%;
    padding: 15px 20px;
    /* padding:1px 12px; */
    margin: 10px 0 ; 
}

.primary-text, .secondary-text, .tertiary-text {
    margin: 2px 0;
}

.payment-container {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: #ffffff;
    /* padding-bottom:30px; */
    /* padding: 20px 20px; */
}

h3 {
    margin-bottom: 1rem;
    color: #333;
}

label {
    display: block;
    margin-top: 1rem;
    color: #555;
}

#payment-method-label {
    margin-top: 1.5rem;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="month"], select {
    width: 100%;
    padding: 10px;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="month"]:focus, select:focus {
    outline: none;
    border-color: #007bff;
}

.card-details {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card-expiry, .card-cvc {
    width: 100%;
}

.btn {
    width: 40%;
    background-color: #151f3239;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    /* margin-top: 2rem; */
    margin: 20px;
    font-size: 1.2rem;
    cursor: pointer;
}
.button-container {
    display: flex;
    justify-content: center;  
    /* gap: 50px;   */
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #092e5a;
}


@media (max-width: 600px) {
    .payment-container {
        padding: 1.5rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    .submit-button {
        padding: 12px;
        font-size: 1rem;
    }

    input[type="text"], input[type="email"], input[type="tel"], input[type="month"], select {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .payment-container {
        width: 90%;
    }

    h4 {
        font-size: 1.75rem;
    }

    .submit-button {
        padding: 14px;
        font-size: 1.1rem;
    }

    input[type="text"], input[type="email"], input[type="tel"], input[type="month"], select {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    body {
        padding: 0;
    }

    .payment-container {
        max-width: 600px;
    }

    h4 {
        font-size: 2rem;
    }

    .submit-button {
        font-size: 1.2rem;
    }

    input[type="text"], input[type="email"], input[type="tel"], input[type="month"], select {
        font-size: 1rem;
    }
} 
