
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: #fffdfd;
    padding-bottom:30px;
    padding: 30px 30px;
}

.heading-container {
    background-color: #232d4139;
    color: white; 
    border-radius: 1px; 
    text-align: left; 
    width: 100%;
    padding: 1px 20px;
    padding:15px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;  
    padding: 0;  
    width: 100%;  
    height: 100vh; 
}
/* section {
    max-width: 1000px;
    margin: 1px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
} */

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .form-group {
    display: flex;
    flex-direction: column;
    width: 48%; 
    margin-bottom: 15px;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
}

form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form .btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #151f3239;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block; 
    margin: 20px auto 0; 
    width: auto; 
}

form .btn:hover {
    background-color: #092e5a;
}
form input:hover{
    font-size: 17px;
}
.backlogin {
    text-align: center;
    margin-top: 15px;
}

.backlogin a {
    color: #010c18;
    text-decoration: none;
}

.backlogin a:hover {
    text-decoration: underline;
    color: rgb(4, 86, 4);
}

section p {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 10px;
    color: #3a3737;
}
section p:hover{
    color: blue;
}
@media (max-width: 767px) {
    form .form-group {
        width: 100%; 
    }

    section {
        padding: 15px;
    }

    form input, 
    form .btn {
        font-size: 0.9rem;
    }

    .heading-container h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    section {
        margin: 20px 10px;
    }

    form input {
        font-size: 0.85rem;
        padding: 8px;
    }

    form .btn {
        font-size: 0.9rem;
        padding: 8px;
    }

    .heading-container h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.8rem;
    }
} 
